table{
/*background-color :lightcoral;*/
}
td{
color:black;
padding-left:10px;
}
thead{
background-color:pink;


width:70%;
padding-right:20px;
}
tfoot{
    width: 70%;
   /* padding-right:50px;*/
    background-color:pink;

}
input[type="Button"]{
background-color:#00FF00;
}
input[type="reset"]{
background-color:#FF0000;
}
div{
    background-image:url("C:\Users\User\Desktop\FullStackProject\BusManagement\src\assets\travel-bus-world-logo-design-travel-bus-logo-114010556.jpg") ;
}

