<div class="col-md-6 offset-md-3">
  <img src="\assets\bus-traveling-on-asphalt-road-260nw-1345741577.webp" style="width:80%">

<h2>Forgot your password</h2>
<br>
<small>Enter your email so we can send you a reset link for your password</small>

<form onsubmit="event.preventDefault()">
  <div class="field-wrapper">
    <input type="text" name="email" placeholder="email">
    
  </div>
  <br>
  <div class="field-wrapper">
    <input type="submit" (click)="submit()" class = "btn btn-success">
  </div>
</form>
</div>

<!--<div class="face face-right">
<div class="content">
<h2>Sign up</h2>
<form onsubmit="event.preventDefault()">
  <div class="field-wrapper">
    <input type="text" name="email" placeholder="email">
    <label>e-mail</label>
  </div>
  <div class="field-wrapper">
    <input type="password" name="password" placeholder="password" autocomplete="new-password">
    <label>password</label>
  </div>
  <div class="field-wrapper">
    <input type="password" name="password2" placeholder="password" autocomplete="new-password">
    <label>re-enter password</label>
  </div>
  <div class="field-wrapper">
    <input type="submit" onclick="showThankYou()">
  </div>
  </form>
</div>-->