<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<div class="card-md"align="center">
  <img src="\assets\203e0799-53f7-4739-9ba5-c3f8b474e86e.jpg"alt="ranjitha" style="width:60%">
    <h1>Ranjitha</h1>
    <p class="title">CEO & Founder</p>
    <p>Red BusManagement</p>
    <a href="#"><i class="fa fa-whatsapp"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <!--<p><button>Contact</button></p>-->
</div>

    
  
  
  
  
  
