<div class="col-md-6 offset-md-3">

<head>
    <title> FEEDBACK FORM </title>
</head>

<body>


    <div class="formContainer">
        <div class="heading">
            FEEDBACK FORM
        </div>
    
            
        <div class="form">
            <form id="form">
                <label for="name">Name</label>
                <input name="name" [(ngModel)]="name"type="text" id="name" />
                <br>
                <label for="email">Email</label>
                <input name="email"[(ngModel)]="email" type="email" id="email" />
                <br>
                <!--<label for="rating">rating</label>
                <input name="rating" type="text" id="rating" />-->
                <label for="feedback">Feedback</label>
                <textarea name="feedback"[(ngModel)]="feedback" id="feedback"></textarea>
                <br>
                <button (click)="submit()" type="submit">SUBMIT</button>
            </form>
        </div>

