
<div>
        <button class="btn btn-outline-success" type="button"style="background-color: yellow;" (click) = "fetchAcBus()">
        Fetch Ac Bus
      </button>
      
      <button class="btn btn-outline-success" type="button"style="background-color: yellow;" (click) = "fetchNonAcBus()">
        Fetch NonAc Bus
      </button>
      
      <div class="list row">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by busDetails" style="background-color: aquamarine;color:black;margin-right:40%;" [(ngModel)]="startingPoint"/>
            </div>
            <!--<div class="input-group=append">-->
                <button class="btn btn-outline-success" type="button" style="background-color: black;color:aliceblue;margin-left:60%;" (click)="searchBystartingPoint()">Search</button>
          <!-- </div>-->
        </div>
       </div>
    <br>

<h2> BusManagement List</h2>
<table class = "table">
    <thead>
        <tr>
            <th> Starting  Point</th>
            <th> Ending  Point</th>
            <th> Driver Name</th>
            <th> Driver Number</th>
            <th> Bus Number</th>
            <th> Bus Type</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let busManagement of busManagements" >
            <td> <b> {{busManagement.startingPoint }}</b> </td>
            <td> <b>{{ busManagement.endingPoint }}</b> </td>
            <td> <b> {{ busManagement.driverName }}</b> </td>
            <td> <b>{{ busManagement.driverNumber }}</b> </td>
            <td> <b>{{ busManagement.busNumber }}</b> </td>
            <td> <b>{{ busManagement.busType}}</b> </td>
            <td>
                <button (click) = "updateBusManagement(busManagement.busId)" class = "btn btn-success"> Update</button>
                <button (click) = "confirmDelete(busManagement)" class = "btn btn-danger"  style="margin-left: 10px"> Delete</button>
                <button (click) = "busManagementDetails(busManagement.busId)" class = "btn btn-success" style="margin-left: 10px"> View</button>
                <button (click) = "bookTickets(busManagement)" class = "btn btn-dark" style="margin-left: 10px"> Book Tickets!</button>
            </td>
        </tr>
        <tr *ngIf="busManagements.length !== 0">
        <button class="m-3 btn-sm-btn-success" (click)="confirmDeleteAll()" type="submit">
            RemoveAll
        </button>
        </tr>
        <tr scope="row" *ngIf="busManagements.length === 0">
            <td colspan="4" class="text-center">No record found</td>
            </tr>
    </tbody>
</table>
<!--<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by busDetails" color="black"[(ngModel)]="startingPoint"/>
        </div>
        <div class="input-group=append">
            <button class="btn btn-outline-success" type="button" (click)="searchBystartingPoint()">Search</button>
        </div>
    </div>
   </div>-->

</div>
