<div class="col-md-6 offset-md-3">
  <img src="\assets\bus-traveling-on-asphalt-road-260nw-1345741577.webp" style="width:80%">

<div class="face face-right">
    <div class="content">
    <h2>Reset Password</h2>
    <form onsubmit="event.preventDefault()">
      <div class="field-wrapper">
        <input type="text" name="email" placeholder="email">
        
      </div>
      <div class="field-wrapper">
        <input type="password" name="password" placeholder="password" autocomplete="new-password">
        
      </div>
      <div class="field-wrapper">
        <input type="password" name="password2" placeholder="confirmpassword" autocomplete="new-password">
      
      </div>
      <br>
      <div class="field-wrapper">
        <input type="submit" (click)="submit()"class = "btn btn-success">
      </div>
      </form>
    </div>
