<h3> View BusManagement Details</h3>
<div>
    <div>
        <label> <b>  starting Point: </b></label> {{busManagement.startingPoint}}
    </div>
    <div>
        <label> <b> ending Point: </b></label> {{busManagement.endingPoint}}
    </div>
    <div>
        <label> <b> driver Name: </b></label> {{busManagement.driverName}}
    </div>
    <div>
        <label> <b> driver Number: </b></label> {{busManagement.driverNumber}}
    </div>
    <div>
        <label> <b> bus Number: </b></label> {{busManagement.busNumber}}
    </div>
    <div>
        <label> <b> bus Type: </b></label> {{busManagement.busType}}
    </div>
   <!---- <div>
        <label> <b> no of seats: </b></label> {{busManagement.noOfSeats}}
    </div>
    <div>
        <label> <b> cost per seats: </b></label> {{busManagement.costPerSeats}}
    </div>-->


    <button (click) ="viewclick()"class = "btn btn-success" type ="Back">Back</button>

</div>

