<div class="col-md-6 offset-md-3">
    <h3> Seats Details </h3>
    <form>
    
        <div class="form-group">
            <label> Starting Point</label>
            <input type="text" readonly class ="form-control" id = "startingPoint"
                [(ngModel)] = "busManagement.startingPoint" name = "startingPoint">
        </div>
    
        <div class="form-group">
            <label> Ending Point</label>
            <input type="text" readonly class ="form-control" id = "endingPoint"
                [(ngModel)] = "busManagement.endingPoint" name = "endingPoint">
        </div>
    
        <div class="form-group">
            <label> DriverName</label>
            <input type="text"  readonly class ="form-control" id = "driverName"
                [(ngModel)] = "busManagement.driverName" name = "driverName">
        </div>
        <div class="form-group">
            <label> DriverNumber</label>
            <input type="text" readonly class ="form-control" id = "driverNumber"
                [(ngModel)] = "busManagement.driverNumber" name = "driverNumber">
        </div>
        <div class="form-group">
            <label> Bus Number</label>
            <input type="text"  readonly class ="form-control" id = "busNumber"
                [(ngModel)] = "busManagement.busNumber" name = "busNumber">
        </div>
        <div class="form-group">
            <label> Bus Type</label>
            <input type="text" readonly class ="form-control" id = "busType"
                [(ngModel)] = "busManagement.busType" name = "busType">
        </div>


  
        <div class="form-group">
            <label> Total seats Avaiable</label>
            <input type="text" readonly class ="form-control" id = "noOfSeats"
                [(ngModel)] = "busManagement.noOfSeats" name = "noOfSeats">
        </div>
    
        <!--<div class="form-group">
            <label> Booked seats</label>
            <input type="text" class ="form-control" id = "bookedseats"
                [(ngModel)] = "busManagement.bookedseats" name = "bookedseats">
        </div>
    
        <div class="form-group">
            <label> Avaiable seats</label>
            <input type="text" class ="form-control" id = "avaiableseats"
                [(ngModel)] = "busManagement.avaiableseats" name = "avaiableseats">
        </div>-->
        <div class="form-group">
            <label> cost per seats</label>
            <input type="text"readonly  class ="form-control" id = "costPerSeats"
                [(ngModel)] = "busManagement.costPerSeats" name = "costPerSeats">
        </div>
       <!---- <label for="bookedSeats">Booked Seats:</label>
  <select name="bookedSeats" id="bookedSeats">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>-->
<div class="form-group">
    <label> Number of Seats </label>
    <input type="number" class="form-control" id="bookedSeats" [(ngModel)]="busManagement.bookedSeats"
        name="seatsEntered">
</div>
<button (click)="myFunction()" id="btn" style="margin-top:50px;font-size:15px;">Update</button><br>

<div class="form-group">
    <label> Total Price</label>
    <input type="text" class ="form-control" id = "totalprice"
        [(ngModel)] = "busManagement.totalPrice" name = "totalPrice">
</div>

<br>
       <!---- <div class="form-group">
            <label> Date </label>
            <input type="text" class ="form-control" id = "date"
                [(ngModel)] = "busManagement.date" name = "date">
        </div>

        <div class="form-group">
            <label> Time</label>
            <input type="text" class ="form-control" id = "time"
                [(ngModel)] = "busManagement.time" name = "time">
        </div>-->

        <button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>

      <!--- <button class = "btn btn-primary" type ="submit">Submit</button>-->
    
    </form>
    </div>

