
<div class="col-md-6 offset-md-3">
    <h3> Create BusManagement </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Starting Point</label>
            <input type="text" class ="form-control" id = "startingPoint"
                [(ngModel)] = "busManagement.startingPoint" name = "startingPoint">
        </div>
    
        <div class="form-group">
            <label> Ending Point</label>
            <input type="text" class ="form-control" id = "endingPoint"
                [(ngModel)] = "busManagement.endingPoint" name = "endingPoint">
        </div>
    
        <div class="form-group">
            <label> Driver Name</label>
            <input type="text" class ="form-control" id = "driverName"
                [(ngModel)] = "busManagement.driverName" name = "driverName">
        </div>
        <div class="form-group">
            <label> Driver Number</label>
            <input type="text" class ="form-control" id = "driverNumber"
                [(ngModel)] = "busManagement.driverNumber" name = "driverNumber">
        </div>
        <div class="form-group">
            <label> Bus Number</label>
            <input type="text" class ="form-control" id = "busNumber"
                [(ngModel)] = "busManagement.busNumber" name = "busNumber">
        </div>

        <div class="form-group">
            <label> Bus Type</label>
            <input type="text" class ="form-control" id = "bustype"
                [(ngModel)] = "busManagement.busType" name = "busType">
        </div>
        <div class="form-group">
            <label> Total seats Avaiable</label>
            <input type="text" class ="form-control" id = "noOfSeats"
                [(ngModel)] = "busManagement.noOfSeats" name = "noOfSeats">
        </div>
        <div class="form-group">
            <label> cost per seats</label>
            <input type="text" class ="form-control" id = "costPerSeats"
                [(ngModel)] = "busManagement.costPerSeats" name = "costPerSeats">
        </div>


    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 

